 .findTutor{
    background-color: #ebebeb;
    
 }
#tutorList img{
height: 100px;
width: 100px;
}

#tutorList a{
margin: 10px;
border-color:grey;
}

#tutor h4{
    color:#535b81;
}
#cover{
  height: 500px;
    width: 100%;
}
#cover img{
    width: 100%;
    height: 100%;
}
/* #tutorLisvht img{
    paddin-right: 20px;
}
#tImage{
height: 300px;
width: 300px;
} */




/* #image{
    height: 300px;
    width: 300px;
    padding-right: 20px;
}
#tutorPic img{
   
    width: 100%;
    height: 100%;
    
}*/


