.landing {
    background-color: #ebebeb;
    background: url('../images/l_lmage.jpg') no-repeat fixed 100% 100%;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    flex-direction: column;
    text-align: center;
    background-position: center center;
}

#overlay {
    top: 0;
    bottom: 0;
    padding: 8%;
    font-size: 18px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

.progress {
    height: auto;
    padding: 3%;
    background-color: #fff;
}

.prgContent {
    font-size: 10px;
    font-family: 'Lato', sans-serif;
    color: coral;
}

.prgContent span {
    font-size: 3rem;
    font-weight: 200;
}

.prgContent p {
    font-size: 1rem;
    color: goldenrod;
    text-transform: uppercase;

}
.about {
    background-color:#ebebeb;
    margin: 0 auto;
    flex-direction: column;
    text-align: center;
    background-position: center center;
    padding: 2%;
}
.aboutUs{
    background-color: goldenrod;
    color: #11162c;
    padding: 20px;
}
#imageWidth{
    width:100px;
    height: 100px;
    margin: 0 auto;
}

#imageWidth img{
    border-radius: 50%;
    padding-top: 5px;
}

.card {
    margin:2%;
    color: black;
    text-align: center;
}
.card-title {
    margin-bottom: 0.5rem;
    background-color: #c5e8ef;
}
.review{
    padding:3%;
}