header {
    background-color: #11162c;
    color: goldenrod;
    font-weight: 700;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 9999;
}

.logo {
    padding-top: 14px;
    font-size: xx-large;
}

nav a {
    font-weight: 600;
    font-size: 16px;
    color: goldenrod;
    padding: 8px;
    text-decoration: none;
}

nav a:hover {
    color: skyblue;
}

.hamburgerIcon {
    display: none;
}
#sidebar {
    padding-left: 2%;
    display: none;
}

#navIcon {
    width: 40px;
    height: 4px;
    background-color: goldenrod;
    margin: 6px 0;
}

footer {
    background-color: #11162c;
    padding-top: 4%;
    color: white;
    overflow: hidden;
    width: 100%;
}

.footerInfo {
    padding-left: 10%
}

.footerInfo h5 {
    font-size: 17px;
    color: goldenrod;
}

.footerInfo p {
    font-size: 14px;
}

.fa {
    padding: 20px;
    text-decoration: none;
    color: white;
}

.fa:hover {
    color: aqua;
}

.copyright {
    font-size: small;
    padding-top: 3%;
    padding-left: 0px;
}

@media only screen and (max-width:800px) {
    nav .links {
        display: none;
    }

    .hamburgerIcon {
        display: block;
    }
    .sidebar a {
        font-size: small;
        padding: 5px;
    }
}

@media only screen and (max-width:770px) {
    .footerInfo {
        padding-left: 0%;

        text-align: center;
    }

    .col1,
    .col2 {
        display: none;
    }

}